.site-header {
    height: 82px;
    max-height: 82px;
}
/*
.side-bar {
    width: calc((100% - 1064px) / 2 + 320px);
    min-width: 320px;
}
.site-nav, .site-header, .site-footer {
    width: 320px;
}
.main {
    margin-left: calc( (100% - 1064px) / 2 + 320px );
}
*/
.main-content h4 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}
