<p>
    <span class="text-red-200">&#xFE0E;&#9829;</span> Support Development
</p>
<p>
    <a href="https://github.com/sponsors/reiniiriarios" target="_blank" class="btn btn-purple mr-2">Fund on GitHub</a>
    <a href="https://ko-fi.com/reinii" target="_blank" class="btn btn-green">Fund on Kofi</a>
</p>
<p class="text-small text-grey-dk-100 mb-0">
    Copyright &copy; 2021 Emma Litwa-Vulcu.
    Distributed under a <a href="https://github.com/reiniiriarios/chromaticity-color-utilities/blob/main/LICENSE" target="_blank">GNU GPL-V3 license</a>.
</p>
