.nav-link + .doc-sub-menu {
    max-height: 0;
    transition: all 0.5s linear;
    overflow: hidden;
}
.doc-sub-menu .nav-link {
    width: 100%;
    margin-bottom: 6px;
}
.doc-sub-menu .nav-link:first-child {
    padding-top: 0;
}
.nav-link.active + .doc-sub-menu {
    max-height: 1000px;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #222;
}
code.command {
    color: #494d55;
    background:#e6e9ee;
    border-radius: 2px;
}
